<noscript> <!-- Load/activate closure template scripts -->
  <!-- Write closure fall-back static file -->
  <!-- /ROOT/app/cls/WET/gcintranet/v5_0_0/cdts/static/refTop.html -->
  <!--#include virtual="/app/cls/WET/gcintranet/v5_0_0/cdts/static/refTop.html" -->
</noscript>

<div id="cdts-def-top">
  <!-- Write closure fall-back static file -->
  <!-- /ROOT/app/cls/WET/gcintranet/run/cdts/static/top-en.html -->
  <!--#include virtual="/app/cls/WET/gcintranet/v5_0_0/cdts/static/top-en.html" -->
</div>
<main property="mainContentOfPage" typeof="WebPageElement" class="container">
  <h1 i18n="@@inputFormHeaer">Setup</h1>
  <form [formGroup]="inputForm">
    <table>
      <tr>
        <td class="lbl">Select Benefit</td>
        <td>
          <select formControlName="benefit">
            <option *ngFor="let item of benefits" [ngValue]="item">{{ item }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="lbl">Source Client</td>
        <td>
          <select formControlName="clientSource">
            <option *ngFor="let item of clientSources" [ngValue]="item">{{ item}}</option>
          </select>
        </td>
      </tr>
      <tr *ngIf="benefit === 'oas' || benefit === 'oas+gis'">
        <td class="lbl">Date of Birth</td>
        <td>
          <input #DOB
                 type="date"
                 min="1900-01-01"
                 max="1950-01-01"
                 formControlName="dob" />
          <!-- [value]="dob | date:'yyyy-MM-dd'"
                 (change)="updateDob($event)" /> -->
        </td>
      </tr>
      <tr>
      <tr *ngIf="benefit === 'oas' || benefit === 'oas+gis'">
        <td class="lbl">40ths</td>
        <td>
          <input #Forieths type="number" min=1 max=40 formControlName="fortieths" />
        </td>
      </tr>
      <tr>
      <tr *ngIf="benefit === 'oas' || benefit === 'oas+gis'">
        <td class="lbl">Actuarially Adjusted Months</td>
        <td>
          <input #ActuariallyAdjustedMonths type="number" min=1 max=100 formControlName="actuariallyAdjustedMonths" />
        </td>
      </tr>
      <tr>
      <tr *ngIf="benefit === 'gis' || benefit === 'oas+gis'">
        <td class="lbl">Rate Table</td>
        <td>
          <input #RateTable type="number" min=1 max=40 formControlName="rateTable" />
        </td>
      </tr>
      <tr>
      <tr *ngIf="benefit === 'gis' || benefit === 'oas+gis'">
        <td class="lbl">Net Income</td>
        <td>
          <input #NetIncome type="number" formControlName="netIncome" />
        </td>
      </tr>
      <tr>
      <tr>
      <tr *ngIf="benefit === 'gis' || benefit === 'oas+gis'">
        <td class="lbl">SQF</td>
        <td>
          <input #NetIncome type="number" formControlName="sqf" />
        </td>
      </tr>
      <tr>
      <tr>
        <td class="lbl">Start Date</td>
        <td>
          <input #StartDate
                 type="month"
                 min="2008-01"
                 max="2024-03"
                 formControlName="startDate" />

        </td>
      </tr>
      <tr>
        <td class="lbl">End Date</td>
        <td><input #EndDate
                 type="month"
                 min="2008-01"
                 max="2024-03"
                 formControlName="endDate" />
        </td>
      </tr>
    </table>
  </form>
  <h1 i18n="@@periodsFormHeader">Periods</h1>
  <form [formGroup]="periodForm">
    <table *ngIf="numPeriods > 0" formArrayName="periods">
      <tr>
        <th>Period</th>
        <th>OAS Rate</th>
        <th>OAS Initial</th>
      </tr>
      <tr *ngFor="let periodGroup of periodGroups.controls;let i=index" [formGroup]="periodGroup">
        <td>{{ periodGroup.value.date | date : 'yyyy-MM-dd' }}</td>
        <td class="currency">{{ oasRateCalc(periodGroup.value.date) | currency: "CAD" : "$" }}</td>
        <td>
          <input type="number"
                 class="currency"
                 formControlName="oasInitial"
                 min="0.01"
                 step="0.01"
                 max="5000"
                 name="initial-{{i}}">
          <button (click)="copyToEnd(i)">
            <i class="fa-solid fa-copy" alt="Copy to end"> </i>
            <fa-icon [icon]="faAnglesDown"></fa-icon>
          </button>
        </td>
      </tr>
      <tr class="totals">
        <td>Totals</td>
        <td class="currency">{{ sumOas() | currency: "CAD" : "$" }}</td>
        <td class="currency">{{ sumOasInitial() | currency: "CAD" : "$" }}</td>
      </tr>
    </table>
  </form>
  <h1 i18n="@@actionsRequiredHeader">Actions Required</h1>
  <div>
    <ul>
      <li *ngFor="let action of actionsRequired()">{{ action }}</li>
    </ul>
  </div>
  <div id="cdts-def-preFooter">
    <!-- Write closure fall-back static file -->
    <!-- /ROOT/app/cls/WET/gcintranet/run/cdts/static/preFooter-en.html -->
    <!--#include virtual="/app/cls/WET/gcintranet/v5_0_0/cdts/static/preFooter-en.html" -->
  </div>
</main>
<div id="cdts-def-footer">
  <!-- Write closure fall-back static file -->
  <!-- /ROOT/app/cls/WET/gcintranet/v5_0_0/cdts/static/footer-en.html -->
  <!--#include virtual="/app/cls/WET/gcintranet/v5_0_0/cdts/static/footer-en.html" -->
</div>